
services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    restart: always
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      ACTIVEMQ_ADMIN_LOGIN: admin
      ACTIVEMQ_ADMIN_PASSWORD: admin
    volumes:
      - ./data/activemq:/opt/activemq/data
    networks:
      - search_net

  ingestion-service:
    build:
      context: ./ingestion-service
    image: ingestion-service:latest
    container_name: ingestion-service
    ports:
      - "5701:5701"
    command: ['datalake', 'logs/log.log']
    environment:
      #PUBLIC_IP: "" # IP
      HZ_PORT: "5701"
      HZ_PUBLIC_ADDRESS: xxx:5701
      HZ_MEMBERS: xxx:5701
      HAZELCAST_CLUSTER_NAME: SearchEngine
      BROKER_URL: "failover:(tcp://xxx:61616)?randomize=false"
      REPLICATION_FACTOR: 3
      INDEXING_BUFFER_FACTOR: 10
    volumes:
      - ./mnt/datalake:/app/datalake
      - ./mnt/logs:/app/logs
    depends_on:
      - activemq
    networks:
      - search_net

  indexing-service:
    build:
      context: ./indexing-service
    image: indexing-service:latest
    container_name: indexing-service
    ports:
      - "5702:5702"
    command: ['datalake']
    environment:
      #PUBLIC_IP: "" # IP
      HZ_PORT: "5702"
      HZ_PUBLIC_ADDRESS: xxx:5702
      HZ_MEMBERS: xxx:5701
      HAZELCAST_CLUSTER_NAME: SearchEngine
      BROKER_URL: "failover:(tcp://xxx:61616)?randomize=false"
    volumes:
      - ./mnt/datalake:/app/datalake
    depends_on:
      - ingestion-service
    networks:
      - search_net

networks:
  search_net:
    driver: bridge
