services:
  ingestion1:
    build:
      context: ./ingestion-service/
    image: ingestion-service:latest
    ports:
      - "7001:7001"
    command: ['datalake', 'logs/log.log']
    volumes:
      - ./mnt/datalake:/app/datalake
      - ./mnt/logs:/app/logs

