services:
  ingestion1:
    build:
      context: ./ingestion-service/
    image: ingestion-service:latest
    ports:
      - "7001:7001"
    command: ['datalake', 'datalake/log.log']

  ingestion2:
    image: ingestion-service:latest
    ports:
      - "7002:7001"
    command: ['datalake', 'datalake/log.log']
